/* General */

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: "Segoe UI";
}

body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

/* Sections */

#frontpage {
  width: 375px;
  height: 812px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 0px 12px 0px;
}

#frontpage .logo {
  display: block;
  margin: 0 auto;
  width: 169px;
  margin-top: 5em;
}

#frontpage h3 {
  display: block;
  text-align: center;
  font-size: 64px;
  color: #25364F;
  margin: 30px 0;
}

#frontpage input[type="text"], #frontpage input[type="email"], #frontpage input[type="password"], #frontpage input[type="number"] {
  display: block;
  margin: 30px auto;
  width: 330px;
  font-size: 22px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #25364F;
}

#frontpage a {
  color: #000;
  margin: 0 auto;
  width: inherit;
}

#frontpage span {
  color: #F0495A;
}

#frontpage .button {
  display: block;
  background-color: #F0495A;
  color: #fff;
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
  width: 330px;
  padding: 5px;
  border: none;
  border-radius: 20px;
  margin-bottom: 35px;
  text-align: center;
}

#frontpage i {
  font-size: 25px;
}
